.root {
    /* Modo claro */
    -fx-primary-light: #2ca0ed;
    -fx-secondary-light: #1f85a6;
    -fx-background-light: #cbf2ff;
    -fx-accent-light: #97e6ff;
    -fx-text-light: #ffffff;

    /* Modo oscuro */
    -fx-primary-dark: #0a3d5c;
    -fx-secondary-dark: #0c3a4a;
    -fx-background-dark: #1a4048;
    -fx-accent-dark: #14536d;
    -fx-text-dark: #1c1c1c;
}

.light-mode {
    -fx-background-color: -fx-background-light;
    -fx-text-fill: -fx-text-dark;
}

.dark-mode {
    -fx-background-color: -fx-background-dark;
    -fx-text-fill: -fx-text-light;
}